# Global Ignores
**/node_modules
**/dist
**/build
**/.gradle
**/.DS_Store
**/.idea
**/.vscode

# Database Dumps
*.sql
backup.sql

# Environment Variables
**/.env
**/.env.*
!**/.env.example

# User rules
user_rules.md
