# Global Ignores
**/node_modules
**/.pnpm-store
**/dist
**/build
**/.gradle
**/.DS_Store
**/.idea
**/.vscode

# Database Dumps
*.sql
!**/db/migration/*.sql
backup.sql
backend/backups/*

# Environment Variables
**/.env
**/.env.*
!**/.env.example

# User rules
user_rules.md
